= div_for user do
  id: #{user.id} | email: #{user.email}
  %h2 Reviews
  - user.reviews.each do |r|
    = div_for r do
      id: #{r.id} | product id: #{r.product.id}
  %h2 Venue
  = user.venue.present? ? user.venue.id : 'no venue'