= content_for :title, "User #{@user.id}"

.jumbotron
  = render 'user', user: @user
  = link_to 'all', { action: 'index' }, class: 'btn btn-default'
  = link_to 'new', { action: 'new' }, class: 'btn btn-default'
  = link_to 'edit', { action: 'edit' }, class: 'btn btn-default'