= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?callback=initMap'

.container.company-page
  .col-xs-12
    -# COMPANY HEADER
    .company-header
      %div
        %h1
          = @company.name
        %div
          %span.supplychain
            = @company.supplychain
        %div
          %span.type
            = @company.type
      %div
        .open-until
          = "Open until #{@company.operating_hours[0][1]}"
        -# .distance
          -# = "#{@company.location.distance} m"
      %div
        .rank
          %div
            = @company.voteCount
          %div
            = @company.vote
        %div
          .contact
            %a.call
            %a.email
            %a.website
  .col-xs-12
    %hr.no-margin
  .col-xs-12.col-sm-6.no-padding
    -# COMPANY GALLERY
    .company-gallery
      .swiper-container.gallery
        .swiper-wrapper
          - @company.photos.each do |img|
            .swiper-slide
              = image_tag img
        .swiper-button-prev
        .swiper-button-next
      .hidden-xs.swiper-container.gallery-thumbs
        .swiper-wrapper
          - @company.photos.each do |img|
            = image_tag img, class: 'swiper-slide'
  .col-xs-12.col-sm-6.reviews
    -# %h2 Recent Reviews
    -# %div
      -# - @reviews.each do |review|
        -# = render 'components/review', review: review
    -# %div
      -# %button.btn-grad See All Reviews
  .col-xs-12
    %hr.no-margin
  .col-xs-12.no-padding
    .col-xs-12.col-sm-6
      -# OPERATING HOURS
      .operating-hours
        %h2 Operating Hours
        %div
          .active
            %span Monday
            %span 07:00 to 22:00
          %div
            %span Tuesday
            %span 07:00 to 22:00
          %div
            %span Wednesday
            %span 07:00 to 22:00
          %div
            %span Thursday
            %span 07:00 to 22:00
          %div
            %span Friday
            %span 07:00 to 22:00
          %div
            %span Saturday
            %span.open-all-day
              = image_tag 'svg/open_24_hours.svg'
              = " Open all day"
            -# %span Sunday
            -# %span.closed
              -# img{src='svg/closed_icon.svg'}
              -# |  Closed
    .col-xs-12.col-sm-6.no-padding
      .company-location
        #map
        %div
          = @company.address