.product-page
  -# PRODUCT NAVIGATION BAR
  .product-navbar-container
    .container.product-navbar
      .name
        = @product.name
      .rank
        -# = @product.voteCount
        -# = @product.vote
      .price
        = "#{@product.price}.00 #{@product.currency_symbol}"
  %div
    -# PRODUCT HEADER
    .container-fluid.company-header
      .container
        %div
          %div
            %div
              %img{src: @company.photos[1]}
            %div
              %h3
                = @company.name
          %div
            %div
              %a.call
            %div
              %a.hidden-xs.email
            %div.hidden-xs.open-until
              = "Open until #{@company.operating_hours[0][1]}"
            %div.hidden-xs.distance
              -# = "#{@company.location.distance} m"
  .container
    .row
      .col-xs-12.col-sm-8.no-padding
        .product-gallery
          .hidden-xs.swiper-container.gallery-thumbs
            .swiper-wrapper
              - @product.photos.each do |img|
                = image_tag img, class: 'swiper-slide'
          .swiper-container.gallery
            .swiper-wrapper
              - @product.photos.each do |img|
                .swiper-slide
                  = image_tag img
            .swiper-button-prev
            .swiper-button-next
        %hr
        .product-header
          %h1
            = @product.name
          .rank
            %div
              = @product.voteCount
            %div
              = @product.vote
        .subtypes
          .subtype
            %div Small
            %div $23.00
          .subtype
            %div Medium
            %div $25.50
          .subtype
            %div Subtype 3
            %div $31.00
        %hr
        .folders
          %button.folder Folder Name 1
          %button.folder Folder Name 2
          %button.folder Folder Name 3
        %hr
        .description
          %h2 Description and Details
          %div
            = @product.description
        %hr
      .col-xs-12.col-sm-4
        .pay-form
          %select
            %option Quantity 1
            %option Quantity 2
            %option Quantity 3
          %h3 Ship to:
          %select
            %option Address Seoul
          %h3 Payment Method:
          %select
            %option Quantity 1
            %option Quantity 2
            %option Quantity 3
          %div
            %button.btn-grad Save this
            %button Buy
    .reviews.col-xs-12.col-sm-8
      -# %h2 Reviews
      -# %div
        -# - @reviews.each do |review|
          -# = render 'components/review', review: review